# Python Data Types

## Subheader

- Bullet

In [1]:
4*4

16

In [2]:
4**2

16

In [3]:
x=4

In [4]:
y1=float(x**2)

In [5]:
y1

16.0

In [13]:
y2=int(y1)

In [14]:
y2

16

In [17]:
y3=str(y1)

In [18]:
y3

'16.0'

In [25]:
y4=y1+y2

In [26]:
y4

32.0

In [27]:
type(y4)

float

In [28]:
type(y2)

int

In [29]:
type(y3)

str

In [30]:
y5=bool(y1)

In [31]:
y5

True

In [32]:
z=4

In [23]:
x==z

True

In [11]:
age = input("Enter your age:")

Enter your age:21

In [9]:
import math
y1s=math.sqrt(y1)

In [10]:
y1s

4.0

In [19]:
age

'21'

# Python Data Structures

In [84]:
# Lists
mylist=[2,3,4,5,6,7,8,9,10,11,12]

In [85]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [40]:
type(mylist)

list

In [56]:
mylist2=[13,14,15,16,17,18,19,20]

In [43]:
type(mylist2)

list

In [55]:
mylist2.append(21,22,23)

TypeError: append() takes exactly one argument (3 given)

In [57]:
mylist2

[13, 14, 15, 16, 17, 18, 19, 20]

In [51]:
mylist3=['Scott','Mike']

In [52]:
mylist3

['Scott', 'Mike']

In [53]:
mylist4=['Scott',46, 'Student']

In [54]:
mylist4

['Scott', 46, 'Student']

In [59]:
mylist+mylist2

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [60]:
mylist5=[2,3,4,5,6,7,8,9,10,11,12]

In [61]:
mylist5

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [62]:
mylist+mylist5

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [64]:
import numpy as np

In [66]:
mylistadd1=np.array(mylist)

In [67]:
mylistadd2=np.array(mylist5)

In [68]:
mylistadded=mylistadd1+mylistadd2

In [69]:
mylistadded

array([ 4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24])

In [73]:
mydoubledlist=[]
for x in mylist: 
    mydoubledlist.append(x+x)

In [74]:
mydoubledlist

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [75]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [76]:
mylist[3]

5

In [77]:
mylist[-1]

12

In [78]:
mylist[0:4]

[2, 3, 4, 5]

In [79]:
#Tuples
mytuple = (2,3,4,5,6,7,8,9,10,11,12)

In [80]:
type(mytuple)

tuple

In [106]:
np.nonzero(mylist(5))

TypeError: 'list' object is not callable

In [91]:
mydictionary={'Fname':'Scott','Lname':'Callahan','age':21}

In [98]:
mydictionary['Fname']

'Scott'

In [109]:
lastlist = (1,2.0,'Scott',[1,2,3,4])

In [110]:
lastlist

(1, 2.0, 'Scott', [1, 2, 3, 4])